<!-- templates/home.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branch - Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <h1>BRANCH</h1>
            <ul>
                <li><a href="#" class="active">HOME</a></li>
                <li><a href="#">COURSES</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">CONTACT US</a></li>
                <li><a href="http://13.61.67.16:8000/recsys/">RECCOMENDATION SYSTEM DEMO</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <h2>INTRODUCING BRANCH!</h2>
        <a href="#" class="btn">ABOUT US</a>
    </section>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
